#PORT
PORT=3303

#API_
REACT_APP_API_BASE_URL=http://ip.jsontest.com/


# environment: develop | staging | production
NODE_ENV=develop

#config dev
BROWSER=none
EXTEND_ESLINT=true
FAST_REFRESH=false
GENERATE_SOURCEMAP=false