@import '../../../styles/variable';


#root {
  height: 100%;
}

* {
  font-family: 'Barlow', sans-serif;
}

body>iframe {
  pointer-events: none;
}

body>iframe {
  pointer-events: none;
}

.main {
  // margin: auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // height: 100%;
  // background: $color_bg_manage_staking;
  position: relative;
  
  .content-wrapper {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}